@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1{
    display: inline;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 80px;
    color: brown;
    vertical-align: middle;
}
.head1{
    text-align: center;
    padding: 30px 0px 30px 350px;
    vertical-align: middle;
}
.head1 input{
    width: 250px;
    height: 30px;
    border-radius: 15px 0px 0px 15px;
    border: 2px solid brown;
    font-size: 100%;
    vertical-align: middle;
}

.head1 img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: cell;
}

nav{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    padding-left: 30px;
}
.portada{
    background-image: url(imagenes/portada.jpg);
    text-align: center;
    background-size: auto;
    background-repeat: round;
}
.portada h2{
    font-size: 60px;
    color: aliceblue;
    padding-top: 150px;
    padding-bottom: 75px;
    cursor: pointer;
}
.portada p{
    font-size: 30px;
    color: aliceblue;
    font-style: italic;
    padding-bottom: 75px;
}

.libros img{
    width: 300px;
}

.libros > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.libros > div > div{
    text-align: center;
}

.libros > div > div:hover{
    transform: scale(1.25);
    transition-duration: 1s;
}

.libros > h2{
    font-size: 40px;
    color: red;
    padding: 30px 0 30px 60px;
    font-weight: bolder;
}